
.amiga{
    display: flex;
    gap:10px;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
   
}
h1{
    display: flex;
gap: 10px;
flex-wrap:wrap;align-content: center;
justify-content: center;


}

.img{
    
}






