.quadrado{
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    border: 5px  solid  black  
    
}
.quadrado{
    width: 200px;
    height: 150px;
background-color: aliceblue;
border: 3px   solid black  
padding:0px 20px;
}
h1{ 
    background-color: blueviolet;
border:8px solid black;
padding:15px;
}


